{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
    [
      "prismjs",
      {
        "languages": ["javascript"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
